* {
  font-family:Arial, Helvetica, sans-serif;
}

body {
  background-color: mistyrose;

  display: flex;
  justify-content: center;
}

div { 
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 200px;
}

img {
  width: 300px;
  height: 300px;
}

p {
  font-size: 16px;
  font-weight: 700;
}