* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: mistyrose;

  display: flex;
  justify-content: center;

  overflow-y: hidden;
}

div { 
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

p {
  width: 1000px;
  font-size: 32px;
  font-weight: 700;
}